<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:requestLegacyExternalStorage="true"
        tools:ignore="MissingApplicationIcon">
        <activity
            android:name="com.android.development.MediaScannerActivity"
            android:exported="true"
            android:icon="@drawable/ic_launcher2"
            android:label="SD Exploder"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>